#main {
    height: 100%;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
	display: flex;
	justify-content: stretch;
}

.page-content-wrapper {
	display: flex;
	height: 100%;
	width: 80%;
	margin-left: 20%;
}

#chart-controller-togglebutton {
	display: none;
	height: 100%;
	width: 1em;
	background-color: honeydew;
}


