html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	background-color: lightblue;
}

#main {
	height: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
}

#chart-controller {
	display: inline-block flex;
	float: left;
	width: 15em;
	height: 100%;
	padding-left: 5px;
}



.canvasjs-chart-canvas {
	height: 100%;
}

#canvasjs-react-chart-container-0 {
	display: inline-block;
}

.controller-row {
	display: flex;
	align-items: stretch;
}

.label-column {
	width: 4em;
}

.input-column {
}

#plot-type-controller label {
	display: inline-block;
}

#plot-type-controller input {
	display: inline-block;
}

.input-number {
	text-align: right;
	border: none;
	border-radius: 1em;
}

.slider-wrapper {
	display: block;
	justify-content: center;
	align-self: center;
	width: 20px;
    height: 100px;
    padding: 1em;
}

.slider-wrapper input {
	width: 100px;
    height: 20px;
    margin: 0;
    transform-origin: 50px 50px;
    transform: rotate(-90deg);
}
