html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	background-color: lightblue;
}



/*
#plotTypeSelectionBar {
	display: block;
}

.PlotTypeButton {
	display: inline-block;
}

#customizePlot {
	flex: 1;
}

#inputN {
	display: inline-block;
}

#inputNfield {
	border: none;
	text-align: right;
}

#inputP {
	display: inline-block;
}

#inputPSlider {

}*/